
<div class="boss-main-container" [style]="{ 'visibility': boss != null ? 'visible' : 'hidden' }">
    <div class="boss-content" *ngIf="boss != null" [ngClass]="{'boss-close': closing }">
        <i (click)="close()" class="close-btn bi bi-x-lg"></i>
        <div class="boss-header">
            <div class="pic-container">
                <img class="boss-pic" src="{{ boss.picture }}">
            </div>
            <h2 class="boss-name">{{ boss.name }}</h2>
            <div class="hp-container">
                <div class="life-bar-container">
                    <div class="life-bar" style="width: {{ (boss.life / boss.totalLife) * 100 }}%;">
                    </div>
                </div>
                <div class="hp-value">{{ boss.life }}/{{ boss.totalLife }}</div>
            </div>
        </div>

    </div>
    <div class="boss-overlay" [ngClass]="{'boss-close': closing }" *ngIf="boss != null"></div>
</div>