<div class="map-page-container d-flex h-100">
    <div id="map-demo" class="map-container" [ngClass]="{'cursor-pointer': drawingMode}">
    </div>

    <div id="right-panel" class="right-panel">
        <div class="map-selector-container text-center mt-4 mb-4">
            <img src="images/sky.png" class="map-select-btn disabled" [ngClass]="{unselected: currentMapId != 1, disabled: drawingMode}" (click)="clickSelectMap(1)">
            <img src="images/overworld.png" class="map-select-btn mx-3" [ngClass]="{unselected: currentMapId != 2, disabled: drawingMode}" (click)="clickSelectMap(2)">
        </div>
        <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
            <li [ngbNavItem]="1" class="w-50">
                <button ngbNavLink class="w-100"  (click)="activeTab = 1">
                    <i class="bi bi-person-walking"></i> Balade
                </button>
                <ng-template ngbNavContent>
                    <div>
                        Crédits disponibles : {{ profile.credits | distance }}
                    </div>
                    <div>
                        <div>
                            <button class="btn btn-primary" (click)="startDrawing()" *ngIf="!drawingMode" [disabled]="profile.credits == 0">Commencer à tracer un chemin</button>
                            <button class="btn btn-success mx-1" (click)="submitDrawing()" *ngIf="drawingMode" [disabled]="loadingSubmitPath">
                                Valider votre tracé
                                <div *ngIf="loadingSubmitPath" class="spinner-border spinner-border-sm"></div>
                            </button>
                            <button class="btn btn-secondary mx-1" (click)="cancelDrawing()" *ngIf="drawingMode" [disabled]="loadingSubmitPath">Annuler</button>
                            <button class="btn btn-secondary mx-1" (click)="cancelSegment()" *ngIf="drawingMode" [disabled]="drawSegments.length == 0">
                                <i class="bi bi-arrow-counterclockwise"></i>
                            </button>
                        </div>
                    </div>
                </ng-template>
            </li>

            <li [ngbNavItem]="2" class="w-50">
                <button ngbNavLink class="w-100"  (click)="activeTab = 2">
                    <i class="bi bi-backpack2-fill"></i> Inventaire
                </button>
                <ng-template ngbNavContent *ngIf="profile != null">
                    <app-inventory #inventoryComponent [profile]="profile" [users]="users"></app-inventory>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2 w-100 nav-container"></div>
    </div>
</div>

<app-npc-dialogue [npc]="dialogueNpc" [loadingActionSubmission]="loadingActionSubmission"></app-npc-dialogue>
<app-boss-fight [boss]="fightingBoss" [profile]="profile" [loadingActionSubmission]="loadingActionSubmission" (onDamage)="onDamage()"></app-boss-fight>